.about {
    padding: 6rem 3rem 2rem 3rem;
}

.backgroundDiv {
    background-color: #00C1D3;
    padding: 2rem;
    transform: skew(3deg);
    transition: transform .5s;
}

.aboutPara {
    text-align: justify;
    font-size: 1.3rem;
    color: #ffff;
    transform: skew(-3deg);
}

.aboutHead {
    text-align: center;
    padding-bottom: 1.5rem;
    color: #ffff;
}

.flexContainer {
    display: flex;
    flex-flow: row wrap;
    font-size: 30px;
}

.flexItem {
    position: relative;
    flex: 1;
    max-width: 100%;
    min-width: 300px;
    margin-right: 2.5px;
    text-align: center;
}

.iconImg {
    width: 30%;
    margin: 1.5rem;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    /* 4 rows */
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    gap: 10px;
    /* Gap between grid items */
    justify-items: center;
    /* Center the items horizontally */
    align-items: center;
    /* Center the items vertically */
}

.grid-item {
    padding: 10px;
}

@media screen and (max-width: 1200px) {
    .aboutPara {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1005px) {
    .flexItem {
        min-width: 100%;
    }

    .aboutPara {
        font-size: 1.1rem;
    }

    .grid-container {
        display: none;
    }

    .iconImg {
        width: 50%;
    }
}

@media screen and (max-width: 650px) {

    .aboutPara {
        font-size: 0.8rem;
    }
}