.grid-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.grid-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.experienceImg {
    width:50%;
    border-radius: 25px;
}